<div class="row">
    <div class="col-12">
        <h2>Contact</h2>
        <p>Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles,
             pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor,
              o palabras aleatorias que no parecen ni un poco creíbles.</p>
    </div>
    <form>
        <div class="row mb-3 container-fluid">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Your E-mail</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Your message</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3">
          </div>
        </div>
      
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
</div>