<!-- your html code here -->

<div class="container-fluid bg-white">
    <div class="row px-5">
        <div class="col-4 px-0 py-5">
            <img class="img-fluid rounded-circle"
            src="https://images.unsplash.com/photo-1491947153227-33d59da6c448?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit">
        </div>
        <div class="col-8 order-lg-1 px-0 py-5">
            <h2>The Second Heading <span class="text-muted">Is Pretty Cool too</span></h2>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolor fuga consequuntur libero, fugit iusto vitae nisi possimus architecto in rerum accusamus reiciendis, odit itaque nostrum, ducimus sint deleniti voluptate.</p>
        </div>
    </div>
</div>